@import url(./styles/Activity__grid.css);
@import url(./styles/Activity__column.css);
@import url(./styles/Activity__legend.css);
@import url(./styles/Activity__legend-wrapper.css);
@import url(./styles/Activity__legend-color.css);
@import url(./styles/Activity__legend-text.css);
@import url(./styles/Activity__legend-time.css);

.Activity {
  
  margin: auto 0;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 660px) {
  .Activity {
    height: 100%;
    justify-content: space-between;
  }
}