.Template__title {
  margin: 0;
  color: #FCFBF7;
  font-family: Roboto;
  font-weight: 700;
  font-size: 30px;
  line-height: 107%;
  letter-spacing: 0px;
  text-align: center;
}

.theme_light .Template__title {
  color: #261C00;
}

@media screen and (max-width: 660px) {
  .Template__title {
    text-align: left;
    width: 300px;
    height: 64px;
  }
}