.Diagram__pic {
  position: absolute;
  top: -12px;
  left: -12px;
  background-image: url(../../../images/diagram-dark.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  
  width: calc(100% + 24px);
  height: calc(100% + 24px);
}

.theme_light .Diagram__pic {
  background-image: url(../../../images/diagram-light.svg);
}

@media screen and (max-width: 660px) {
  .Diagram__pic {
    top: -16px;
    left: -16px;
    width: calc(100% + 32px);
    height: calc(100% + 32px);
  }
}