.Leaders__podium {
  position: relative;
  box-sizing: border-box;
  padding-top: 18px;

  color: #FCFBF7;
  font-family: Roboto;
  font-weight: bold;
  font-size: 30px;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: center;

  margin: 16px 0 0;
  width: 120px;
  
  border-radius: 6px 6px 0px 0px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) -2.22%, rgba(0, 0, 0, 0.8) 100%), radial-gradient(149.08% 95.38% at 38.75% 71.48%, #000000 0%, #231900 0.01%, #4D4D4D 100%);
  box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.2), inset 2px 2px 16px rgba(103, 103, 103, 0.6);
}

.theme_light .Leaders__podium {
  background: linear-gradient(-180deg, #F4F4F4 1%, #E9E9E9 100%, #EAEAEA 100%);
  box-shadow: inset 0px 0px 20px 0px #CFCFCF,inset -1px 1px 1px 0px #FFFFFF;
}

.Leaders__podium_1 {
  z-index: 3;
  height: 108px;
  background: radial-gradient(91.67% 122.17% at 69.17% -11.17%, #FFA300 0%, #2D1C00 100%);
  /* Styles/White/Bar/Active Wide */
  box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.4), inset 0px 6px 15px rgba(255, 162, 0, 0.4);
}

.theme_light .Leaders__podium_1 {
  background: linear-gradient(-180deg, #FFF2D1 1%, #FFD66C 100%);
  box-shadow: inset 0px 0px 20px 0px #FFB039,inset -1px 1px 1px 0px #FFFFFF;
}

.Leaders__podium_2 {
  right: 8px;
  z-index: 2;
  height: 88px;
}

.Leaders__podium_3 {
  left: 8px;
  z-index: 2;
  height: 88px;
}

.Leaders__podium_4 {
  right: 8px;
  height: 68px;
}

.Leaders__podium_5 {
  left: 8px;
  height: 68px;
}

@media screen and (max-width: 660px) {
  .Leaders__podium_1 {
    height: 325px;
  }

  .Leaders__podium_2 {
    height: 275px;
    
  }

  .Leaders__podium_3 {
    height: 225px;
  }
}

@media screen and (min-width: 700px) and (min-height: 550px) {
  .Leaders__podium_1 {
    height: 80vh;
  }

  .Leaders__podium_2 {
    height: calc(80vh - 50px);
    
  }

  .Leaders__podium_3 {
    height: calc(80vh - 100px);
  }

  .Leaders__podium_4 {
    height: calc(80vh - 150px);
    
  }

  .Leaders__podium_5 {
    height: calc(80vh - 200px);
  }
}