@import url(./styles/Leaders__container.css);
@import url(./styles/Leaders__podium.css);
@import url(./styles/Leaders__place.css);


.Leaders {
  display: grid;
  grid-template-columns: repeat(2, 104px) 120px repeat(2, 104px);
  align-items: end;
  margin: 48px auto 0;
}

@media screen and (max-width: 660px) {
  .Leaders {
    grid-template-columns: 104px 120px 104px;
    margin-top: 91px;
  }
}