.Activity__legend-time {
  width: 59.2px;
  height: 12px;
  background-image: url(../../../images/activiti-legend-dark.svg);
}

.theme_light .Activity__legend-time {
  background-image: url(../../../images/activiti-legend-light.svg);
}