.Activity__legend-wrapper {
  width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-right: 8px;
}

@media screen and (max-width: 660px) {
  .Activity__legend-wrapper {
    align-items: flex-start;
  }
}