@import url(./styles/Template__body.css);
@import url(./styles/Template__title.css);
@import url(./styles/Template__subtitle.css);
@import url(./styles/Template__container.css);

.Template {
  font-family:  Roboto, Helvetica, Arial, sans-serif;
  height: 100vh;
  background: radial-gradient(70.24% 70.24% at 49.87% 29.76%, rgba(19, 14, 0, 0.9) 0%, #000000 100%);
}

.theme_light.Template {
  background: #FFFFFF;
}

.theme_light .Template {
  background: #FFFFFF;
}