.User__valueText {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */

  text-align: center;

  /* Grey Light */

  color: #BFBFBF;

  margin: 4px auto 0;
}

.User_s .User__valueText {

  color: #918F8A;
  text-align: left;
  margin: 0;
}

.theme_light .User__valueText {
  color: #BFBFBF;
}

.User_selected .User__valueText {
  color: #FCFBF7;
}

.theme_light .User_selected .User__valueText {
  color: #261C00;
}